/* ------------
 Foundation
 -------------- */

 :root {
  --color-text: rgba(0, 0, 0, 0.8);
  --color-text-inactive: rgba(0, 0, 0, 0.3);
  --color-border: #E5E5E5;
  --color-highlight: #18A0FB;

  --type-family: Inter, sans-serif;

  --focus-ring: inset 0 0 0 2px var(--color-highlight);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--type-family);
}

ol, ul {
  list-style: none;
  margin: 0;
}

button {
  border-radius: 0;
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button.-full {
  width: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

/* ------------
 UI
 -------------- */
/* Tab */
.Tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}
.Tab-buttonGroup {
  display: flex;
}
.Tab-buttonGroup > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 12px 8px;
  height: 40px;
  background: #FFFFFF;
  color: var(--color-text-inactive);
  font-weight: normal;
  font-size: 11px;
}
.Tab-buttonGroup > button:first-child {
  padding-left: 16px;
}
.Tab-buttonGroup > button:hover {
  color: var(--color-text);
}
.Tab-buttonGroup > button.active {
  color: var(--color-text);
  font-weight: bold;
}
.Tab-buttonGroup > button:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}
.Tab-options {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.Tab-options .label {
  font-weight: normal;
  font-size: 11px;
}
.Tab-options > select {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0 22px 0 8px;
  height: 26px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center right 8px;
  background-image: url("data:image/svg+xml,%3Csvg class='svg' width='8' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.646 5.354l-3-3 .708-.708L4 4.293l2.646-2.647.708.708-3 3L4 5.707l-.354-.353z' fill-rule='evenodd' fill='%23b3b3b3'/%3E%3C/svg%3E");
  color: var(--color-text);
  font-weight: normal;
  font-size: 11px;
}
.Tab-options > select:hover {
  border: 1px solid rgba(0,0,0,.1);
  background-image: url("data:image/svg+xml,%3Csvg class='svg' width='8' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.646 5.354l-3-3 .708-.708L4 4.293l2.646-2.647.708.708-3 3L4 5.707l-.354-.353z' fill-rule='evenodd' fill='currentColor'/%3E%3C/svg%3E");
  color: currentColor;
}
.Tab-options > select:disabled {
  opacity: 0;
}

/* Output */
.Output {
  border: 0;
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  height: 320px;
  padding: 12px 16px;
  font: normal 400 16px/16px "Roboto Mono",monospace;
}
.Output:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}

/* Command */
.Command {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
  padding: 8px 16px;
}

/* Button */
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 11px;
  color: var(--color-text);
  font-family: var(--type-family);
  letter-spacing: 0.005em;;
}
.Button:active {
  border: 1px solid var(--color-highlight);
  border-color: var(--color-highlight);
  box-shadow: inset 0 0 0 1px var(--color-highlight);
}
.Button:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}